<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ae.etisalat.mocasalesportalpoc">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".AppControl"
        android:theme="@style/AppTheme">
        <meta-data android:name="moca.PROXIMITY_SERVICE_ENABLED" android:value="true"/>
        <meta-data android:name="moca.AUTOMATIC_PUSH_SETUP_ENABLED" android:value="true"/>
        <meta-data android:name="moca.GEOLOCATION_SERVICE_ENABLED"  android:value="true" />
        <meta-data android:name="moca.BACKGROUND_LOCATION_ENABLED" android:value="true" />
        <activity android:name=".MOCAMainActivityPOC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <!--
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="beacon.etisalat.ae"
                    android:scheme="crm"/>
            </intent-filter>
            -->
        </activity>

    </application>

</manifest>